
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: black;
    color: white;
    font-family: "Karantina", sans-serif;
    text-align: center;
}

.header-banner img {
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: 40px auto 20px;
}
.content {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.main-photo {
    width: 100%;
    display: block;
}

.frame-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* RIGHT TEXT */
.text-section {
    width: 50%;
    text-align: left;
}

.text-section h1 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 1;
}

.text-section h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 24px;
    line-height: 1.4;
}

/* FOOTER */
.footer-nav {
    margin: 60px 0 40px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 26px;
    letter-spacing: 2px;
}

.footer-nav a:hover {
    opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .content {
        flex-direction: column;
        gap: 40px;
    }

    .image-frame,
    .text-section {
        width: 100%;
    }

    .text-section h1 {
        text-align: center;
    }

    .text-section {
        text-align: center;
    }
}
